.container {
    width: 1200px;
    height: 70px;
    align-items: start;
    justify-content: start;
    padding-left: 40px;
}
.title {
    display: flex;
    font-size: 40px;
}

.textBox {
    display: flex;
}
